body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button-link:hover {
    background-color: #0056b3;
}
li:hover {
    background-color: #E6E6FA;
    transition: background-color 3s ease;
}